.example-spacer {
    flex: 1 1 auto;
    background-color: #ffe866;
  }

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    position: fixed;
    background-color: #1a2d99;
}

.navbar > button {
    margin: 20px;
}

.example-icon {
    background-color: #ffe866;
}

.home {
    background-color: #ffe866;
}
